server:
  port: 8083

spring:
  application:
    name: servicio_flota
  
  datasource:
    url: jdbc:postgresql://localhost:5432/flota_db
    username: back-admin
    password: admin123
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/logistica-realm
          jwk-set-uri: http://localhost:8080/realms/logistica-realm/protocol/openid-connect/certs
  profiles:
    active: prod # Para prueba usar dev

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html